# General
SUPERSET_SECRET_KEY=change-me

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=superset
DB_USER=superset
DB_PASS=superset

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PROTO=redis
REDIS_SSL_CERT_REQS=none
REDIS_USER=
REDIS_PASSWORD=

# DB
ANALYTICS_DB_NAME=analytics
ANALYTICS_DB_SCHEMA_NAME=public

# Superset admin
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_ADMIN_PASSWORD=admin
